<h1 mat-dialog-title>Active Substances</h1>
<div mat-dialog-content>
    <mat-spinner *ngIf="this.isLoading"></mat-spinner>
    <div *ngIf="!this.isLoading" class="table-container">
        <table mat-table [dataSource]="activeSubstances">
            <ng-container matColumnDef="casNumber">
                <th mat-header-cell *matHeaderCellDef> Cas Number </th>
                <td mat-cell *matCellDef="let element"> {{element.casNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="evSubstanceCode">
                <th mat-header-cell *matHeaderCellDef> Ev Substance Code </th>
                <td mat-cell *matCellDef="let element"> {{element.evSubstanceCode}} </td>
            </ng-container>
            <ng-container matColumnDef="substanceName">
                <th mat-header-cell *matHeaderCellDef> Substance Name</th>
                <td mat-cell *matCellDef="let element"> {{element.substanceName}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>