.content {
    min-height: calc(100vh - 114px);
    max-height: calc(100vh - 114px);
    display: flex;
}

.footer {
    height: 50px;
    background-color: #9AA899;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 16px;
    ;
}

.copyright {
    margin: 0;
}