<mat-spinner *ngIf="this.isLoading"></mat-spinner>
<div class='user-container' *ngIf="!this.isLoading">
    <section class="sponsors-section">
        <h2>User Info</h2>
    </section>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item>User Id: {{user.userId}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>User Name: {{user.userName}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Organisation: {{user.organisation}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Phone: {{user.phone}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Email: {{user.email}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Address: {{user.address}}</mat-list-item>
    </mat-list>

    <section class="sponsors-section">
        <h3>Sponsor</h3>
    </section>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item>Name Of Supporting Organisation: {{sponsor.nameOfSupportingOrg}} </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Name: {{sponsor.sponsorName}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Status: {{sponsor.sponsorStatus}}</mat-list-item>
    </mat-list>
</div>