<section class="sponsors-section">
    <h2>Sponsors</h2>
</section>
<div>
    <mat-form-field class="searchbar" appearance="fill">
        <mat-label>Search Sponsor</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input [(ngModel)]="term" (input)="search(term)" matInput placeholder="Sponsorid">
    </mat-form-field>
    <div class="table-container">
        <table mat-table [dataSource]="sponsors">
            <ng-container matColumnDef="sponsorId">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.sponsorId}} </td>
            </ng-container>
            <ng-container matColumnDef="sponsorName">
                <th mat-header-cell *matHeaderCellDef> Sponsor Name </th>
                <td mat-cell *matCellDef="let element"> {{element.sponsorName}} </td>
            </ng-container>
            <ng-container matColumnDef="sponsorStatus">
                <th mat-header-cell *matHeaderCellDef> Sponsor Status </th>
                <td mat-cell *matCellDef="let element"> {{element.sponsorStatus}} </td>
            </ng-container>
            <ng-container matColumnDef="nameOfSupportingOrg">
                <th mat-header-cell *matHeaderCellDef> Supporting Organisation </th>
                <td mat-cell *matCellDef="let element"> {{element.nameOfSupportingOrg}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>