.sponsorTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  width: 1000px;
  flex-wrap: wrap;
}

.sponsors-section {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}

.sponsors-section h2 {
  margin: 0;
}


.trials-section h2 {
  margin: 0;
}


button:hover {
  cursor: pointer;
}

h4 {
  font-weight: bold;
}