<section class="trials-section">
    <h2>Trials</h2>
    <button mat-raised-button color="primary" aria-label="Add new Trial" title="Add new Trial"
        [disabled]="!this.userService.hasUser" (click)="addNewTrial()">Add a
        trial</button>
</section>
<div>
    <mat-form-field class="searchbar" appearance="fill">
        <mat-label>Search Trial</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input [(ngModel)]="term" (input)="search(term)" matInput placeholder="EudraCTNumber3">
    </mat-form-field>
    <mat-list class="trial-list">
        <mat-list-item class="header">
            <h4>EudraCTNumber</h4>
            <h4>Trial Status</h4>
            <h4>Trial Type Phase</h4>
            <h4>Estimated Duration</h4>
            <h4>therapeutic Area</h4>
            <h4>Tools</h4>
        </mat-list-item>
        <mat-list-item *ngFor="let trial of trials | trialSearchFilter: term;">
            <div class="trial-text-container">
                <p mat-line title="{{trial.eudraCTNumber}}">{{trial.eudraCTNumber}}</p>
                <p mat-line title="{{trial.trialStatus}}"> {{trial.trialStatus}} </p>
                <p mat-line title="{{trial.trialTypePhase}}"> {{trial.trialTypePhase}} </p>
                <p mat-line title="{{trial.estimatedDuration}}"> {{trial.estimatedDuration}}</p>
                <p mat-line title="{{trial.therapeuticArea}}">{{trial.therapeuticArea}}</p>
                <div class="button-container">
                    <button mat-icon-button color="primary" (click)="moreTrial(trial.eudraCTNumber)"
                        aria-label="More info Trial" title="more info for Trial">
                        <mat-icon>more</mat-icon>
                    </button>
                    <button [disabled]="!this.userService.hasUser" mat-icon-button color="primary"
                        (click)="deleteTrial(trial.eudraCTNumber)" aria-label="Delete Trial" title="Delete Trial">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="!this.userService.hasUser" color="primary"
                        (click)="editTrial(trial.eudraCTNumber)" aria-label="Edit Trial" title="Edit Trial">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider [inset]="true" *ngIf="!trial"></mat-divider>
        </mat-list-item>
    </mat-list>
</div>