.trial-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  width: 100%;
}

.trial-text-container h4,
.trial-text-container p {
  margin: 0px 8px;
}

.trials-section {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}

.trials-section h2 {
  margin: 0;
}


button:hover {
  cursor: pointer;
}