<section class="trials-section">
    <h2>Trials</h2>
    <button mat-raised-button color="primary" aria-label="Add new Trial" title="Add new Trial"
        [disabled]="!this.userService.hasUser" (click)="addNewTrial()">Add a
        trial</button>
</section>
<div>
    <mat-list class="trial-list">
        <mat-list-item class="header">
            <h4>EudraCTNumber</h4>
            <h4>Trial Status</h4>
            <h4>Design of the Trial</h4>
            <h4>Trial Type Phase</h4>
            <h4>Scope of the Trial</h4>
            <h4>Estimated Duration</h4>
            <h4>Link</h4>
            <h4>therapeutic Area</h4>
            <h4>Number of Subjects</h4>
            <h4>First Added Date</h4>
            <h4>Tools</h4>
        </mat-list-item>
        <mat-list-item *ngFor="let trial of trials | async">
            <div class="trial-text-container">
                <p mat-line>{{trial.eudraCTNumber}}</p>
                <p mat-line> {{trial.trialStatus}} </p>
                <p mat-line> {{trial.designOfTheTrial}} </p>
                <p mat-line> {{trial.trialTypePhase}} </p>
                <p mat-line> {{trial.scopeOfTheTrial}} </p>
                <p mat-line> {{trial.estimatedDuration}}</p>
                <p mat-line>{{trial.link}}</p>
                <p mat-line>{{trial.therapeuticArea}}</p>
                <p mat-line>{{trial.numberOfSubjects}}</p>
                <p mat-line>{{trial.firstAddedDate | date:'dd-MM-yyyy'}}</p>
                <div class="button-container">
                    <button mat-icon-button color="primary" (click)="moreTrial(trial.eudraCTNumber)"
                        aria-label="More info Trial" title="more info for Trial">
                        <mat-icon>more</mat-icon>
                    </button>
                    <button [disabled]="!this.userService.hasUser" mat-icon-button color="primary"
                        (click)="deleteTrial(trial.eudraCTNumber)" aria-label="Delete Trial" title="Delete Trial">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button [disabled]="!this.userService.hasUser" color="primary"
                        (click)="editTrial(trial.eudraCTNumber)" aria-label="Edit Trial" title="Edit Trial">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider [inset]="true" *ngIf="!trial"></mat-divider>
        </mat-list-item>
    </mat-list>
</div>