<section>
    <app-trial-list></app-trial-list>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique nibh vitae arcu cursus semper. Donec
        malesuada et
        neque nec malesuada. In convallis, tortor pellentesque semper sodales, nulla ex ultricies nunc, a consequat ante
        lorem
        vel augue. Vivamus mattis lacus pretium urna fringilla lacinia. Donec imperdiet quis erat sit amet varius.
        Vestibulum
        placerat metus augue, vitae vehicula lorem dapibus a. Fusce lectus felis, tristique quis aliquam eget, dictum in
        augue.
        Integer eu ex vitae justo tristique viverra. Aenean ipsum mi, congue viverra ipsum vel, semper condimentum est.
        Sed
        euismod ut urna ac ultrices. Etiam scelerisque sagittis urna non volutpat.

        Suspendisse venenatis enim id nulla lacinia malesuada. Phasellus commodo eros lorem, quis tempor velit commodo
        in.
        Etiam
        in enim viverra lorem volutpat pulvinar. Sed rutrum vitae tortor a tincidunt. Integer bibendum metus ut metus
        molestie
        fermentum. Quisque vitae pulvinar sapien, a gravida lectus. Sed pulvinar dapibus nisi vitae convallis. Donec
        posuere
        aliquet tortor ut hendrerit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus.
        Sed
        ut molestie tellus. Etiam accumsan egestas tempor. Mauris vulputate elit quis tellus mollis, nec vehicula risus
        ullamcorper.

        Sed rhoncus fringilla lobortis. Morbi molestie pellentesque turpis eleifend pulvinar. Nulla feugiat consectetur
        turpis.
        Cras et nisl neque. Nulla ac dolor quis magna finibus consequat sit amet pretium dui. Nulla luctus sem et
        gravida
        cursus. Cras lorem tortor, tincidunt eget eros et, tempus rutrum lorem. Nulla non neque tempus, iaculis urna
        viverra,
        malesuada tellus. Curabitur cursus pretium nisl sit amet tincidunt. Interdum et malesuada fames ac ante ipsum
        primis
        in
        faucibus. Aenean dapibus sodales nisl quis commodo. Aliquam et laoreet arcu..</div>
</section>