.protocol-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  width: 1700px;
  flex-wrap: wrap;
}

.protocols-section {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}

.protocols-section h2 {
  margin: 0;
}



.trials-section h2 {
  margin: 0;
}


button:hover {
  cursor: pointer;
}

h4 {
  font-weight: bold;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 4px 8px;
}