.protocol-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    width: 1700px;
    flex-wrap: wrap;
}

.protocol-text-container>* {
    flex: 0 20 10%;
  }
  
  .protocol-text-container h4,
  .protocol-text-container p {
    margin: 0px 8px;
  }

  .trials-section h2 {
    margin: 0;
  }
  
  
  button:hover {
    cursor: pointer;
  }
  
  h4 {
    font-weight: bold;
  }