/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Forms*/
.clinical-trials-form {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    margin: 4px 16px;
}

/*override material */
.mat-list-base .mat-list-item.mat-multi-line .mat-list-item-content,
.mat-list-base .mat-list-option.mat-multi-line .mat-list-item-content {
    padding: 4px;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    justify-content: space-between;
}

.mat-dialog-container {
    min-width: 800px;
}