/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
}

/* buttons */

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: #54577C;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #54577C;
}

/* Forms*/
.clinical-trials-form {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    margin: 4px 16px;
}

/*override material */
.mat-list-base .mat-list-item.mat-multi-line .mat-list-item-content,
.mat-list-base .mat-list-option.mat-multi-line .mat-list-item-content {
    padding: 4px;
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    justify-content: space-between;
}

.mat-dialog-container {
    min-width: 800px;
}

.mat-spinner {
    margin: 16px auto;
}

/* set colors */
.mat-toolbar {
    background-color: #9AA899;
}

.trial-list-container {
    width: 100%;
}

.mat-button.mat-primary.menu-item {
    color: white;
    margin: 6px 0;
    padding: 0 8px
}

.mat-button.mat-primary.menu-item.active {
    border-bottom: 2px solid white;
    border-radius: 0px;
}

.mat-button.mat-primary.menu-item .mat-icon {
    font-size: 40px;
    width: 48px;
    height: 48px;
}