.imp-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    width: 100%;
    flex-wrap: wrap;
}

.imp-text-container>* {
    flex: 0 5 5%;
}

.imp-text-container h4,
.imp-text-container p {
    margin: 0px 8px;
}

.imps-section {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}

.imps-section h2 {
    margin: 0;
}


button:hover {
    cursor: pointer;
}

h4 {
    font-weight: bold;
}

.imp-list {
    overflow: auto;
    max-height: calc(100vh - 192px)
}