<section class="imps-section">
    <h2>Imps</h2>
</section>
<div>
    <mat-form-field class="searchbar" appearance="fill">
        <mat-label>Search Imp</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input [(ngModel)]="term" (input)="search(term)" matInput placeholder="EudraCTNumber3">
    </mat-form-field>
    <div class="table-container">
        <table mat-table [dataSource]="imps">
            <ng-container matColumnDef="impId">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.impId}} </td>
            </ng-container>
            <ng-container matColumnDef="eudraCTNumber">
                <th mat-header-cell *matHeaderCellDef> EudraCTNumber </th>
                <td mat-cell *matCellDef="let element"> {{element.eudraCTNumber}} </td>
            </ng-container>
            <ng-container matColumnDef="routesOfAdm">
                <th mat-header-cell *matHeaderCellDef> Routes Of Administration</th>
                <td mat-cell *matCellDef="let element"> {{element.routesOfAdm}} </td>
            </ng-container>
            <ng-container matColumnDef="tradeName">
                <th mat-header-cell *matHeaderCellDef> Trade Name </th>
                <td mat-cell *matCellDef="let element"> {{element.tradeName}} </td>
            </ng-container>
            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
            </ng-container>
            <ng-container matColumnDef="impRole">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.impRole}} </td>
            </ng-container>
            <ng-container matColumnDef="marketingAuth">
                <th mat-header-cell *matHeaderCellDef> Has Marketing Authentication (Country) </th>
                <td mat-cell *matCellDef="let element"> {{element.hasMarketingAuth}}
                    ({{element.countryHasMarketingAuth}}) </td>
            </ng-container>
            <ng-container matColumnDef="pharmForm">
                <th mat-header-cell *matHeaderCellDef> Pharm Form </th>
                <td mat-cell *matCellDef="let element"> {{element.pharmForm}} </td>
            </ng-container>
            <ng-container matColumnDef="tools">
                <th mat-header-cell *matHeaderCellDef> Tools </th>
                <td mat-cell *matCellDef="let element">
                    <div class="button-container">
                        <button mat-icon-button color="primary" (click)="showMoreInfo(element.impId)"
                            aria-label="Show Active Substances" title="Show More Info">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" (click)="showActiveSubstances(element.impId)"
                            aria-label="Show Active Substances" title="Show Active Substances">
                            <mat-icon>science</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>