<h2 mat-dialog-title>Trial Details</h2>
<mat-dialog-content class="mat-typography">
    <mat-spinner *ngIf="this.isLoading"></mat-spinner>
    <div *ngIf="!this.isLoading">
        <h3>Basic Info</h3>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>EudraCT Number: {{trial.eudraCTNumber}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Trial Status: {{trial.trialStatus}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Link: &nbsp; <a href="{{trial.link}}">{{trial.link}}</a></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Trial Type Phase: {{trial.trialTypePhase}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Design Of The Trial: {{trial.designOfTheTrial}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Number Of Subjects: {{trial.numberOfSubjects}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Therapeutic Area: {{trial.therapeuticArea}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Estimated Duration: {{trial.estimatedDuration}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Scope Of The Trial: {{trial.scopeOfTheTrial}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>First Added Date: {{trial.firstAddedDate | date:'dd-MM-yyyy'}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <h3>Sponsor</h3>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>Name Of Supporting Organisation: {{sponsor.nameOfSupportingOrg}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Name: {{sponsor.sponsorName}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Status: {{sponsor.sponsorStatus}} </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <h3>Criteria</h3>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>HIV Test: {{criteria.criteriaHivTest ? 'Positive' : 'Negative'}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Gender: {{criteria.criteriaGender}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Other Criteria:{{criteria.incIteriaOther}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Age: {{criteria.criteriaAge}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Exclusion Criteria: {{criteria.exclusionCriteria}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Specific Vulnerable Populations: {{criteria.specificVulnerablePopulations}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Group Of Subjects: {{criteria.groupOfSubjects}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <h3>Protocol</h3>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>Full Title: {{protocol.fullTitle}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Simplified Title: {{protocol.simplifiedTitle}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Main Objective: {{protocol.mainObjective}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Safety Objective: {{protocol.safetyObjective}} </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <h3>Comperator</h3>
        <mat-divider></mat-divider>
        <mat-list>
            <div *ngFor="let comparator of this.comparators">
                <mat-list-item>Type Of Comperator: {{comparator.typeOfComparator}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Pharm Form: {{comparator.pharmForm}}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>Routes Of Administration: {{comparator.routesOfAdm}}</mat-list-item>
                <mat-divider></mat-divider>
            </div>
        </mat-list>
        <h3>IMP</h3>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>Routes of Adm: {{imp.routesOfAdm}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Trade Name: {{imp.tradeName}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Product Name: {{imp.productName}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Role: {{imp.impRole}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>More Info: {{imp.moreInfo}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Has Marketing Authentication: {{imp.hasMarketingAuth}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Country that has Marketing Authentication: {{imp.countryHasMarketingAuth}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Pharm Form: {{imp.pharmForm}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>