<mat-toolbar>
    <button mat-button (click)="goToMain()" class="logo  primary-button">Clinical Trials</button>
    <div class="user-container">
        <span *ngIf="hasUser">{{this.username}}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="person-icon user-button primary-button"
            aria-label="Person icon-button with share icon">
            <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngIf="hasUser" mat-menu-item (click)="navigateToUser()">
                <mat-icon>account_circle</mat-icon>
                <span>Navigate To User Details</span>
            </button>
            <mat-divider *ngIf="hasUser"></mat-divider>
            <button *ngIf="hasUser" mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Log Out</span>
            </button>
            <button *ngIf="!hasUser" mat-menu-item (click)="login()">
                <mat-icon>login</mat-icon>
                <span>Log In</span>
            </button>
        </mat-menu>
    </div>

</mat-toolbar>