<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <h3>Basic Info</h3>
    <mat-divider></mat-divider>
    <!-- <form>
         <mat-form-field appearance="legacy" req>
            <mat-label>EudraCT Number</mat-label>
            <input matInput placeholder="EudraCTNumber" [name]="trial.eudraCTNumber" required>
        </mat-form-field>
        <mat-form-field appearance="legacy" req>
            <mat-label>Status</mat-label>
            <input matInput placeholder="trialStatus" [name]="trial.trialStatus" required>
        </mat-form-field>
        <mat-form-field appearance="legacy" req>
            <mat-label>Link</mat-label>
            <input matInput placeholder="link" [name]="trial.link" required>
        </mat-form-field>
        <mat-form-field appearance="legacy" req>
            <mat-label>Type Phase</mat-label>
            <input matInput placeholder="trialTypePhase" [name]="trial.trialTypePhase" required>
        </mat-form-field>
        <mat-form-field appearance="legacy" req>
            <mat-label>Design Of The Trial</mat-label>
            <input matInput placeholder="Design Of The Trial" [name]="trial.designOfTheTrial" required>
        </mat-form-field>
        <mat-form-field appearance="legacy" req>
            <mat-label>Number Of Subjects</mat-label>
            <input matInput placeholder="Number Of Subjects" [name]="trial.numberOfSubjects" required>
        </mat-form-field>
        <mat-form-field appearance="legacy" req>
            <mat-label>Therapeutic Area</mat-label>
            <input matInput placeholder="Therapeutic Area" [name]="trial.therapeuticArea" required>
        </mat-form-field>
        <mat-form-field appearance="legacy" req>
            <mat-label>Estimated Duration</mat-label>
            <input matInput placeholder="Estimated Duration" [name]="trial.estimatedDuration" required>
        </mat-form-field>
        <mat-form-field appearance="legacy" req>
            <mat-label>Scope Of The Trial</mat-label>
            <input matInput placeholder="EudraCTNumber" [name]="trial.scopeOfTheTrial" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [name]="trial.firstAddedDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </form>-->
    <!-- <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput>
    </mat-form-field> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{buttonName}}</button>
</mat-dialog-actions>